@import "reset";
@import "variables";


@mixin redondeado ($valor){
	-o-border-radius: $valor;
	-ms-border-radius: $valor;
	-webkit-border-radius: $valor;
	-moz-border-radius: $valor;
	border-radius: $valor;

	}

	body{
	background-color: white;
}

.contenedor{
	max-width: 900px;
	margin: auto;
}

.container{
	max-width: 900px;
}

.navbar{
	position: fixed !important;
	background: black;
	top: 0;
	width: 100%;
	z-index: 50;
	color: white;
	/*border-bottom: solid grey 3px;*/
	padding-left: 20px;
	.navbar-brand{
	font-weight: 800;
	color: white;
	font-size: 25px;
	}
	.navbar-brand:hover{
	color: grey;
	}

}

/*.navbar-inverse .navbar-toggle {
    border-color: grey;
    background-color: black;
   	&:focus{
    background: black;
    }
    &:hover{
   	background-color: grey;
    }
    }*/

    .nav-item{
    	font-weight: bold !important;
    	padding: 1rem;
    	img{
   			height: 30px;
   		}
    
    	 &:focus{
    	background: black;
    	}
    	&:hover{
   		background-color: rgb(150,150,250);

}
    }

.nav>li:hover {
		background: rgb(15,15,15);

	}


.navbar-inverse .navbar-nav>li>a {
    color: white;
        }

.navbar-brand>img {
	height: 60px;
	padding-left: 1rem;
}

 section{

 	/*margin-bottom: 150px !important;*/
 
}

.portada .container-fluid{
	padding-right: 0px !important;
	margin-top: 5rem;
}


.jumbotron{
	position: absolute !important;
	z-index: 30 !important;
	background: none !important;
	width: 80% !important;

	.display-4{
	font-weight: 800 !important;
	font-size: 6rem !important;
	font-family: $titulo;

}
	p{
		width: 50% !important;
		font-family: $texto;
		font-size: 1rem;
    	padding-left: 1rem;
    	margin: 1rem 0 1rem 0;
	}

	.btn{
		border-color: #821D2E;
		background-color: $rosa;
		font-family: $texto;
		font-size: 1rem;
    	margin: 1rem 0 1rem 1rem;
	}

}

 .nosotros{
 	background-color: $rosa !important;
 	color: white;
 	padding-top: 100px;
 	padding-bottom: 100px;
 	font-family: $texto;

 	h2{
 		margin: 2rem 0 2rem 0;
	}

	h1{
		margin: 2rem 0 4rem 0;
		font-size: 4rem;
		font-family: $titulo;
	}

	p{
		margin: 2rem 0 2rem 0;
		font-size: 1.5rem;
	}

	
 }

 .servicio{

 	background-color: $celeste !important;
 	color: white;
 	padding-top: 100px;
 	padding-bottom: 100px;
 	font-family: $texto;

 	h2{
 		margin: 2rem 0 2rem 0;
 		font-weight: 700 !important;
	}

	h1{
		margin: 2rem 0 4rem 0;
		font-size: 4rem;
		font-family: $titulo;
	}

	p{
		margin: 2rem 0 2rem 0;
	}

	}


.container .marketing{
	text-align: center;
	margin: 5rem 0 5rem 0;
}

.contacto{
		padding-top:150px;
		padding-bottom: 150px;
		font-family: $texto;
 		.row{
 			padding-right: 4rem !important;
 			margin-right: 0px !important; 
 			padding-left: 4rem !important;
 			margin-left: 0px !important;
 			p{
 				margin-top: 1rem;
 			}
 			img{
 				width: 100%;

 			}
 			h1{
 				margin-bottom: 2rem;
 				color: $rosa;
 				font-family: $titulo;
 			}
 			.btn{
 				margin-top: 1rem;
 			}
 		}
 	
 	}

.pie{
	background-color: $negro;
	color: white;
	margin-bottom: 0 !important;
	height: 100px;
	padding-top: 3rem; 
}

